.sort-n-filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-flow: column;

    .sort,
    .filter-group {
        font-size: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        margin: 0;
        flex-flow: row wrap;

        select {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        button {
            font-size: 1rem;
            padding: 0.25rem 2rem;
            color: #404040;
        }
    }
}